<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Most Popular</title>
    </head>
    <body>
        <a href="/success">Back</a>
        <h1>Most Popular</h1>
        {% for message in secrets%}
            <!-- Print out the message, how long ago it was created, and the number of likes -->
            <div>{{message.message}}    ({{ message.created_at | timesince }})
                {{message.numlike}} likes.
                <!-- If the current user has any posts listed on the wall, it will tell you that that is your post and give you a delete button -->
                {% if message.user.id == request.session.id %}
                    <span> You Posted This.</span>
                    <!-- Delete button for the user that posted the message -->
                    <form action="/delete/{{message.id}}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="button" value="delete2">
                        <input type="submit" value="Delete">
                    </form>
                <!-- For any other messages that isn't the users, it will check if the user has already liked any of the messages -->
                {% elif user in message.like.all %}
                    You liked this already
                <!-- Any of the posts that have not been liked or posted by the user has a like button -->
                {% else %}
                    <form action="/messages/{{message.id}}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="button" value="like2">
                        <input type="submit" value="Like">
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </body>
</html>
